$font-stack: 'Josefin Sans', sans-serif;
$primary-color: #2ecc71;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}



body {
  font: 100% $font-stack;
  color: $primary-color;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.header-container {
  text-align: center;
  height: 100px;
}

.logo {
  height: 100px;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.background-container {
  img {
    width: 50%;
    height: 300px;
  }
}

.background {
  width: 100%;
  height: 600px;
  position: absolute;
  background: rgba(46, 204, 113, 0.4);
  margin-top: -600px;
}

.background-title {
  color: #fff;
  position: absolute;
  top: 300px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 64px;
  margin-top: 30px;
}

.value-container {
  text-align: center;
}


.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}